/NetBeansProjects/SuperCalculadora/dist/
/NetBeansProjects/ListaDuplamenteEncadeada/build/
/NetBeansProjects/ListaDuplamenteEncadeada/nbproject/private/
/NetBeansProjects/ListaDuplamenteEncadeada/dist/
/NetBeansProjects/Pilha16/build/
